<%= render 'greeting' %>

<p>There was an issue with a Lab Test Order. The details are below:</p>

<ul>
  <li><strong>Issue:</strong> <%= @issue %></li>
  <% if @context[:user_id].present? %>
    <li><strong>User ID:</strong> <%= @context[:user_id] %></li>
  <% end %>
  <% if @context[:lab_test_order_id].present? %>
    <li><strong>Lab Test Order ID:</strong> <%= @context[:lab_test_order_id] %></li>
  <% end %>
  <% if @context[:status].present? %>
    <li><strong>Order Status:</strong> <%= @context[:status] %></li>
  <% end %>
</ul>

<%= render 'sign_off' %>